.explore-marketplace-wrapper{
  padding-top: 40px;
  padding-bottom: 50px;
  .marketplace-banner-img{
    margin-top: 30px;
    margin-left: -10px;
  }

  .hero-section {

    .content-wrapper-custom {
      position: absolute;
      width: 100%;
      margin-top: 91px;
      .h1-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          color: white;
          text-align: center;

        }
      }
    }
  }

  #search-input {
    width: 412px;
  }
}


