@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

$roboto: 'Roboto', sans-serif;

.my-purchases-wrapper {
  padding-top: 40px;
  h1 {
    margin-bottom: 90px;
  }

  .el-table .cell {
    display: flex;
    align-items: center;
  }

  .purchases-content-wrapper {

    .purchase-status {
      margin-bottom: 0;
      font-size: 12px;
      span {
        font-weight: 600;
      }
       .purchased {
         color: #0FAB8E;
       }
    }

    .table-wrapper {

      .my-purchases-dataset-table-icon-wrapper {
        margin-top: 10px;

        .my-purchases-dataset-table-icon {
          background-color: #e6f1fc;
          padding: 6px;
          margin-right: 7px;
        }
      }

      .my-purchase-filename {
        font-family: $roboto;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #131415;
        margin-left: 10px;
        margin-top: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;

      }

      .my-purchase-purchase-time {
        margin-top: 10px;
        display: block;
        opacity: 0.5;
        font-family: $roboto;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #131415;
      }
      .my-purchases-download-button{
        width: 79px;
        height: 24px;
        border-radius: 4px;
        border: solid 1px #a9b1c1;
        padding: 0;
        opacity: 0.5;
        font-family: $roboto;
        font-size: 10px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #131415;
        &:focus{
          outline: none;
        }
      }
      .price-bolded{
        font-weight: bold;
        color: #131415;
        padding-right: 5px;
        @media  (max-width: 480px) {
          font-size: 12px;
        }
      }
      .price-trac{
        color: #131415;
        @media  (max-width: 480px) {
          font-size: 12px;
        }
      }
      .pagination-bar{
        margin-top: 27px;
        .pagination-wrap{
          .el-pagination{
            @media  (max-width: 480px) {
             display: none;
            }
            .el-pager{
              .active{
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
}
